body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titlebar {
	width: 100%;
	height: 128px;
	background-color: black;
	font-family: Garamond;
	font-style: italic;
	/* background-image: url('/images/ZinikiLogo.png'); */
	/* background-repeat: no-repeat; */
}

.titlebar .title {
	width: calc(100% - 264px);
	display: inline-block;
	color: white;
	text-align: center;
	vertical-align: bottom;
	font-size: 110px;
}

.blurb {
	font-size: 32px;
	color: white;
	text-align: center;
	width: 100%;
}

.blurb-text {
	display: inline-block;
	width: 900px;
	background-color: #a0a8b1;
	margin: 10px 0 10px 0;
	padding: 20px 0 20px 0;
}

.blurb-thought {
	display: inline-block;
	text-align: center;
	margin-block: 8px;
	vertical-align: middle;
	border-radius: 20px;
	width: 260px;
	min-height: 117px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 15px;
}

.blurb-thought.p1 {
	margin-block-start: 0px;
	background-color: #640505;
	color: white;
}

.blurb-thought.p2 {
	background-color: #a12c2c;
	color: white;
}

.blurb-thought.p3 {
	background-color: #eafd31;
	color: black;
}

.blurb-thought.p4 {
	font-style: italic;
	background-color: #006400;
	color: white;
	margin-block-end: 0px;
}

.blurb-popup {
	display: none;
}

.all-downloads {
	width: 100%;
	text-align: center;
}

.downloads-block {
	display: inline-block;
	width: 900px;
	background-color: antiquewhite;
}

div.downloads {
	display: inline-block;
	width: 375px;
	height: 200px;
	background-color: lightseagreen;
	margin: 20px;
	border-radius: 30px;
	vertical-align: top;
}

.download-title {
	display: table-cell;
	text-align: center;
	font-size: 30px;
	width: 500px;
	height: 60px;
	background-color: seagreen;
	color: white;
	border-radius: 30px 30px 0 0;
	vertical-align: middle;
}

.download-text {
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

.download-link {
	font-weight: bold;
}

.benefits {
	width: 100%;
	text-align: center;
}

.benefit {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 300px;
	background-color: lightblue;
	margin: 20px;
	border-radius: 30px;
	vertical-align: top;
}

.benefit-title {
	text-align: center;
	font-size: 30px;
	width: 500px;
	height: 60px;
	background-color: darkblue;
	color: white;
	border-radius: 30px 30px 0 0;
	display: table-cell;
	vertical-align: middle;
}

.benefit-body {
	padding: 10px 50px 20px 50px;
	font-size: 20px;
	text-align: center;
}

.benefit-detail {
	display: none;
}

.benefit.popup .benefit-detail, .blurb.popup .blurb-popup {
	display: block;
	position: fixed;
	width: 800px;
	z-index: 10;
	top: 60px;
	bottom: 75px;
	left: calc((100% - 800px) /2);
	padding: 20px 20px 20px 20px;
	font-size: 19px;
	border-style: solid;
	border-radius: 40px;
	border-color: black;
	border-width: 5px;
	background: #1e657c;
	overflow-y: auto;
	overflow-x: hidden;
	color: #f5f5f5;
	text-align: left;
}

/*
table.downloads {
//	color: red;
}
*/

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.downloads th {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	margin-bottom: 6px;
}

table.downloads td.version {
	width: 90px;
	font-weight: bold;
	text-align: center;
	padding: 2px 0 2px 0;
}

table.downloads td.download {
	width: 130px;
	border-left: 1px solid #ccc;
}

table.downloads td.link {
	text-align: center;
}
