.titlebar {
	width: 100%;
	height: 128px;
	background-color: black;
	/* background-image: url('/images/ZinikiLogo.png'); */
	/* background-repeat: no-repeat; */
}

.titlebar .title {
	width: calc(100% - 256px);
	display: inline-block;
	color: white;
	text-align: center;
	vertical-align: bottom;
	font-size: 110px;
}

.blurb {
	background-color: #a0a8b1;
	font-size: 32px;
	color: white;
	text-align: center;
	width: 100%;
	padding: 20px 0 20px 0;
}

.blurb-text {
	display: inline-block;
	width: 500px;
}

.blurb p {
	text-align: center;
	margin-block: 8px;
}

.blurb p.p1 {
	margin-block-start: 0px;
	color: #640505;
}

.blurb p.p2 {
	color: #a12c2c;
}

.blurb p.p3 {
	color: #eafd31;
}

.blurb p.p4 {
	font-style: italic;
	color: #006400;
	margin-block-end: 0px;
}

/*
table.downloads {
//	color: red;
}
*/

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.downloads th {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	margin-bottom: 6px;
}

table.downloads td.version {
	width: 90px;
	font-weight: bold;
	text-align: center;
	padding: 2px 0 2px 0;
}

table.downloads td.download {
	width: 130px;
	border-left: 1px solid #ccc;
}

table.downloads td.link {
	text-align: center;
}
