table.downloads {
//	color: red;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.downloads th {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	margin-bottom: 6px;
}

table.downloads td.version {
	width: 90px;
	font-weight: bold;
	text-align: center;
	padding: 2px 0 2px 0;
}

table.downloads td.download {
	width: 130px;
	border-left: 1px solid #ccc;
}

table.downloads td.link {
	text-align: center;
}
